# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
Flutter 3.podspec
flutter_export_environment 3.sh
.flutter-plugins 3
.flutter-plugins-dependencies 3
.packages 3
Generated 3.xcconfig
.flutter-plugins 4
.flutter-plugins-dependencies 4
.packages 4
Generated 4.xcconfig
flutter_export_environment 4.sh
Flutter 4.podspec

# Web related
lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Keys
/android/key.properties
/lib/firebase_options.dart
